/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .navbar-toggler-icon {
    background-color: greenyellow;
}

 .nav-link {
    color: yellow;
}


  body {
    background-color: #66ACAE;
    color: #004058;
  }
  
  h1 {
    <!--font-family: 'Caveat', cursive;-->
    font-weight: bold;
    color: #004058;
  }

  h2 {
    font-weight: italic;
    color: #004058;
  }
  
  a {
    color:#004058;
  }
  
  a:hover {
    color: #004058;
    text-decoration: underline;
  
  }
  
  .container {
    max-width: 1080px;
  }
  
  .btn-primary {
    background-color: #004058;
  }
  
  .gossip-card {
    background-color: #d8d4cf;
    color: #66ACAE;
  }
  
  .attribute {
    font-weight: bold;
    color: #004058;
  }
  