<p>Bonjour <%= @resource.email %>!</p>

<p>Votre compte a ete bloque suite a une succession importante de tentative
 de mot de passe erronees sans succes.</p>

<p>Debloquer mon compte account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>

<p>app/views/mailer/unlock</p>